@charset "UTF-8";
/* CSS Document */

.container { width: 800px; }
.collapse { display: block; }
.nav-wrap { background-color: #084466; border-color: #084466;}
.navbar-header {display: none;}
.modal-dialog {width: 600px; margin-left: auto; margin-right: auto;}
.form-horizontal .control-label {text-align: right;}
.col-sm-3 {width: 25%; float: left;}
.col-sm-9 {width: 75%; float: left;}


  .navbar-nav {
    float: right;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  
    .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }

  .divider:nth-child(3) {
    margin-top: 20px;
    margin-bottom: 20px;
  }