/*
	factored out changes from bootstrap.css
	renamed and preserved as legacy_modified_bootstrap.css inside ./css/legacy/
	this allows the use of the latest version of Bootstrap
*/
/* line 27, ../../sass/main.scss */
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px; }

/* line 31, ../../sass/main.scss */
.nav > li > a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
  padding-left: 3px; }

@media (min-width: 768px) {
  /* line 41, ../../sass/main.scss */
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }
@media (min-width: 992px) {
  /* line 48, ../../sass/main.scss */
  .container {
    width: 800px; } }
@media (min-width: 1200px) {
  /* line 53, ../../sass/main.scss */
  .container {
    width: 800px; } }
/* ================================================ */
/* line 60, ../../sass/main.scss */
body {
  font-size: 14px;
  overflow-x: hidden;
  padding-bottom: 60px; }

/* line 65, ../../sass/main.scss */
.fullwidth {
  width: 100%;
  background-color: #339933; }

/* line 70, ../../sass/main.scss */
.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px; }

/* line 75, ../../sass/main.scss */
.nav.navbar-nav .morespace {
  padding-right: 20px; }

/* line 78, ../../sass/main.scss */
h3 span {
  font-style: italic;
  font-weight: bolder; }

/* line 82, ../../sass/main.scss */
.citation {
  font-size: 80%; }

/* line 86, ../../sass/main.scss */
footer {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  padding-top: 25px; }

/* line 93, ../../sass/main.scss */
.copyright {
  text-align: center;
  font-size: 80%; }

/* line 98, ../../sass/main.scss */
.print-only {
  display: none; }

/* line 103, ../../sass/main.scss */
input.error, select.error, textarea.error {
  border: 1px solid #ff0000;
  color: #ff0000; }

/* line 105, ../../sass/main.scss */
.form-status {
  margin-bottom: 15px; }

/* line 107, ../../sass/main.scss */
.text-error {
  color: #ff0000; }

/* line 109, ../../sass/main.scss */
.text-success {
  color: #3db900; }

/* line 111, ../../sass/main.scss */
.bottom-nav {
  background-color: #084466; }

/* line 113, ../../sass/main.scss */
.navbar-nav {
  float: right; }

/* line 114, ../../sass/main.scss */
.navbar-nav > li {
  float: left; }

/* line 115, ../../sass/main.scss */
.navbar-fixed-top {
  background-color: #339933; }

/* line 116, ../../sass/main.scss */
.navbar-nav,
.navbar-fixed-bottom .navbar-nav li {
  margin: 0; }

/* line 121, ../../sass/main.scss */
.navbar-fixed-bottom {
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 5px; }

/* line 127, ../../sass/main.scss */
.navbar {
  border-radius: 0; }

/* line 129, ../../sass/main.scss */
.bottom-nav a, .bottom-nav p {
  color: #fff; }

/* line 130, ../../sass/main.scss */
.bottom-nav p {
  margin: 4px 12px; }

/* line 131, ../../sass/main.scss */
.bottom-nav a {
  margin-left: 4px;
  margin-right: 4px; }

/* line 132, ../../sass/main.scss */
.bottom-nav a.footer-button {
  margin-left: 0;
  margin-right: 0; }

/* line 133, ../../sass/main.scss */
.thumbnail {
  border-radius: 0; }

/* may be used in the future
#webinarNotice div {
	background-color: #ce323d;
	color: #ffffff;
	margin-bottom: 20px;
	padding: 15px;
	}
	
#webinarNotice a.btn {
	background-color: #ecc716;
	color: #000000;
	border-color: #FFED00;
	margin-left: 40px;
	font-weight: bold;
	}
	
#webinarNotice p {margin-left: 0; padding-bottom: 0; margin-right: 40%;}

#webinarNotice h3 {
	margin-top: 0;
	margin-bottom: 5px;
	}
*/
/* line 160, ../../sass/main.scss */
.caption-full-top h2 {
  margin-left: 12px;
  margin-right: 12px; }

/* line 161, ../../sass/main.scss */
.caption-full-top p {
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 0px; }

/* line 163, ../../sass/main.scss */
.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle; }

/* line 169, ../../sass/main.scss */
.container {
  padding: 0; }
  /* line 172, ../../sass/main.scss */
  .container .img-header {
    position: fixed;
    max-height: 66px;
    top: 2px; }

/* line 179, ../../sass/main.scss */
.content-heading h1,
.content-module h1,
.highlight {
  font-weight: bold; }

/* line 185, ../../sass/main.scss */
.content-heading {
  background-color: #084466;
  color: white;
  padding: 20px 25px; }
  /* line 190, ../../sass/main.scss */
  .content-heading h1 {
    font-size: 3.5em;
    line-height: 0.95em;
    margin: 0px 0px 20px; }
  /* line 196, ../../sass/main.scss */
  .content-heading p {
    font-size: 1.24em;
    letter-spacing: 0.2px;
    line-height: 1.2em; }
  /* line 202, ../../sass/main.scss */
  .content-heading p.content-footer {
    padding-top: 10px;
    margin-bottom: 0; }

/* line 208, ../../sass/main.scss */
.content-module {
  padding: 0px 25px 20px; }
  /* line 211, ../../sass/main.scss */
  .content-module h1 {
    color: #339933;
    font-size: 2.4em; }
  /* line 216, ../../sass/main.scss */
  .content-module p {
    color: #6f6f6f;
    font-size: 1.2em;
    line-height: 1.2em; }
  /* line 222, ../../sass/main.scss */
  .content-module .content-image {
    margin: 0 auto;
    max-width: 250px; }

/* line 228, ../../sass/main.scss */
.highlight {
  color: yellow; }

/* line 232, ../../sass/main.scss */
.divider {
  height: 6px;
  background-color: #339933; }

/* line 237, ../../sass/main.scss */
.dlbtn {
  max-width: 180px; }

/* line 241, ../../sass/main.scss */
.navbar-fixed-bottom .navbar-nav.bottom-ul-2,
.navbar-inverse .navbar-nav > li > a[data-target*=contact] {
  margin-right: 0; }

/* line 246, ../../sass/main.scss */
.navbar-inverse .navbar-nav > li > a[data-target*=contact] {
  margin-left: 0; }

/* line 250, ../../sass/main.scss */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a[data-target*=contact]:hover {
  color: #ccc; }

/* line 255, ../../sass/main.scss */
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a[data-target*=contact] {
  color: #fff; }

@media screen and (max-width: 767px) {
  /* line 262, ../../sass/main.scss */
  body {
    padding-bottom: 80px; }

  /* line 265, ../../sass/main.scss */
  .content-image,
  .idmgr-br {
    display: none; }

  /* line 269, ../../sass/main.scss */
  .vcenter {
    display: block; }

  /* line 272, ../../sass/main.scss */
  .content-heading h1,
  .content-module h1 {
    font-size: 1.6em; }

  /* line 276, ../../sass/main.scss */
  p.content-footer,
  .content-heading p,
  .content-module p {
    font-size: 0.8em;
    text-align: left; }

  /* line 282, ../../sass/main.scss */
  .navbar-fixed-bottom .navbar-nav.bottom-ul-1 {
    float: none; }

  /* line 285, ../../sass/main.scss */
  .navbar-fixed-bottom .navbar-nav.bottom-ul-2 {
    margin-right: -20px; }

  /* line 288, ../../sass/main.scss */
  .navbar-fixed-top ul {
    margin-right: 3px; }

  /* line 291, ../../sass/main.scss */
  .dlbtn {
    max-width: 150px; } }
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* line 297, ../../sass/main.scss */
  .bottom-nav [class^="col-"] {
    padding-left: 0;
    padding-right: 0; }

  /* line 301, ../../sass/main.scss */
  .navbar-fixed-bottom .navbar-nav.bottom-ul-1 {
    margin-left: 15px; }

  /* line 304, ../../sass/main.scss */
  .navbar-fixed-bottom .navbar-nav.bottom-ul-2 {
    margin-right: 15px; } }
/* printer-friendly version */
@media print {
  /* line 311, ../../sass/main.scss */
  .no-print,
  .dlbtn,
  .divider,
  .navbar,
  .bottom-nav,
  [data-target*="privacy"] {
    display: none; }

  /* line 319, ../../sass/main.scss */
  .print-only {
    display: block; }

  /* line 323, ../../sass/main.scss */
  body {
    line-height: 1.3;
    padding-bottom: 0;
    margin-top: -75px; }

  /* line 328, ../../sass/main.scss */
  .row.content-module {
    padding-bottom: 0px; }

  /* line 332, ../../sass/main.scss */
  .content-heading h1,
  .content-module h1 {
    text-align: left;
    font-size: 16pt; }

  /* line 337, ../../sass/main.scss */
  body,
  .content-module p,
  .content-heading p,
  p.content-footer {
    font-size: 12pt;
    text-align: left; }

  /* line 344, ../../sass/main.scss */
  div.print-only.url:after {
    display: block;
    content: "solutions.transunion.com/fraudprevention";
    padding-left: 15px;
    padding-bottom: 25px; }

  /* line 350, ../../sass/main.scss */
  .vcenter {
    display: block; }

  /* line 354, ../../sass/main.scss */
  .content-module .content-image {
    float: right;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: -10px;
    height: 135px;
    width: 135px; }

  /* line 362, ../../sass/main.scss */
  footer {
    margin-bottom: 0; } }
