$blue: 		#00a6ca;
$yellow: 	#fcd800;
$black: 	#2c2a29;
$white: 	#fff;

$orange:	#f17123;
$green:		#a9d161;
$red:		#e14025;

$darkblue:		#0189ab;
$darkyellow:	#e0c000;

.blue { background-color: $blue; }
.green { background-color: $green; }
.navbar-inverse { border-color: transparent !important; }