/* INTRO SEMIBOLD - Headline (h1), 42px */
h1 { font-size: 42px !important; }

/* INTRO LIGHT - Large copy (h2), 32px */
h2 { font-size: 32px !important; }

/* INTRO REGULAR - Subhead (h3), 16px or 26px */
h3 { font-size: 26px !important; }

/* INTRO REGULAR - Subhead & Bodycopy (h4), 14px */
h4 { font-size: 14px !important; }

/* INTRO SEMIBOLD CAPS - SUBHEAD (H5), 14PX */
h5 {
	font-size: 14px !important;
	/* font-weight: ; */
	text-transform: uppercase !important;
}