@import "colors";
@import "typography";

$content-width--max: 800px;

$device-xs--max: 767px;
$device-sm--min: 768px;
$device-sm--max: 991px;
$device-md--min: 992px;
$device-md--max: 1199px;
$device-lg--min: 1200px;

/*
	possible future need

#webinarNotice div {
	background-color: #ce323d;
	color: #ffffff;
	margin-bottom: 20px;
	padding: 15px;
	}
	
#webinarNotice a.btn {
	background-color: #ecc716;
	color: #000000;
	border-color: #FFED00;
	margin-left: 40px;
	font-weight: bold;
	}
	
#webinarNotice p {margin-left: 0; padding-bottom: 0; margin-right: 40%;}

#webinarNotice h3 {
	margin-top: 0;
	margin-bottom: 5px;
	}
================================================================================== */



/*
	factored out changes from bootstrap.css
	
	renamed and preserved as legacy_modified_bootstrap.css inside ./css/legacy/
	this allows the use of the latest version of Bootstrap

	on a future update, this section may be integrated with the rest of the file
================================================================================== */
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px; }

.nav > li > a {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 3px;
}

@media (min-width: $device-sm--min) {
	.navbar-nav > li > a {
   		padding-top: 5px;
    	padding-bottom: 5px;
  }
}

@media (min-width: $device-md--min) { .container { width: $content-width--max; } }
@media (min-width: $device-lg--min) { .container { width: $content-width--max; } }



/*  
	Modal-related Styles
======================================== */
input.error,
select.error,
textarea.error 		{ border: 1px solid $red; color: $red; }

.form-status 		{ margin-bottom: 15px; }
.text-error 		{ color: $red; }
.text-success 		{ color: #3db900; }



/*  
	Background Colors
======================================== */
.fullwidth,
.navbar-fixed-top,
.divider 			{ background-color: $green; }

.content-heading,
.bottom-nav 		{ background-color: $blue; }



/*  
	Text Colors
======================================== */
.content-module h1 	{ color: $green; }
.content-module p 	{ color: $black; }
.highlight 			{ color: $yellow; }

.content-heading,
.bottom-nav a,
.bottom-nav p,
.navbar-inverse .navbar-nav>li>a 		{ color: $white; }
.navbar-inverse .navbar-nav>li>a:hover 	{ color: $blue; }



/*  
	Font Sizes
======================================== */
body 				{ font-size: 14px; }

/* content */
/*.content-heading h1 { font-size: 3.5em; }*/
/*.content-module h1 	{ font-size: 2.4em; }*/

/*
.content-heading p,
.content-module p 	{ font-size: 1.24em; }
*/

/* footer */
.copyright 			{ font-size: 80%; }



/*  
	Font Weights
======================================== */
.content-heading h1,
.content-module h1,
.highlight 			{ font-weight: bold; }



/*  
	Line Heights
======================================== */
.content-heading h1 { line-height: 0.95em; }

.content-heading p,
.content-module p 	{ line-height: 1.2em; }



/*  
	Letter Spacing
======================================== */
.content-heading p 	{ letter-spacing: 0.2px; }



/*  
	Padding	
======================================== */
/* header */
.container {
	padding-left: 0;
	padding-right: 0;
}

/* content */
.content-heading 	{ padding: 30px 25px; }
.content-module 	{ padding: 0px 25px 20px; }
.content-heading p:last-child 	{ padding-top: 10px; }

/* footer */
.navbar-fixed-bottom {
	padding-top: 10px;
	padding-bottom: 5px;	
}

.copyright {
	padding-top: 5px;
    padding-bottom: 5px;
}

/* applies to the 'Contact Us' li in header and footer */
.morespace 			{ padding-right: 20px; }



/*  
	Margins
======================================== */
/* header */
.navbar				{ margin-bottom: 0; }

/* content */
.content-image 		{ margin: 0 auto; }
.content-heading h1 { margin: 0px 0px 20px; }
.content-heading p:last-child { margin-bottom: 0; }

/* footer */
.copyright 			{ margin-bottom: 0; }



/*  
	General Styles
======================================== */
body 				{ overflow-x: hidden; }
.print-only			{ display: none; }

/* header */
.fullwidth			{ width: 100%; }
/*
.img-header {
	position: fixed;
	max-height: 66px;
	top: 2px;	
}
*/
.img-header {
	max-height: 66px;
	float: left;
    margin-top:1%;
}

/* content */
.content-image		{ max-width: 250px; }
.divider 			{ height: 6px;	}
.dlbtn 				{ max-width: 180px; }
.vcenter {
	display: inline-block;
	float: none;
	vertical-align: middle;
}

/* footer */
.copyright			{ text-align: center; }

/* header and footer */
ul.float-right		{ float: right; }
.navbar-nav > li 	{ float: left; }



/* mobile devices */
@media screen and (max-width: $device-xs--max) {
	/* hidden */
	.content-image,
	.idmgr-br 				{ display: none; }

	/* header */
	.navbar-fixed-top ul 	{ padding-bottom: 5px; }

	/* content */
	.content-heading p,
	.content-header p:last-child,
	.content-module p {
		font-size: 0.9em;
		text-align: left;
	}
	.content-heading h1,
	.content-module h1		{ font-size: 1.4em; }
	.vcenter				{ display: block; }
	.dlbtn 					{ max-width: 150px; }	

	/* footer */
	.navbar-fixed-bottom	{ position: static; }

	/* header and footer */
	.navbar-nav				{ margin: 0; }
	.nav > li > a 			{ padding: 0 5px; }		
	.morespace 				{ padding-right: 10px; }
}

/* printer-friendly version */
@media print {
	/* hidden */	
	.modal,	
	.no-print,
	.dlbtn,
	.divider,  
	.navbar,
	.bottom-nav,
	[data-target*="privacy"] 	{ display: none; }

	/* displayed */
	.print-only 				{ display: block; }

	/* header */
	div.print-only.url:after {
		content: "solutions.transunion.com/fraudprevention";
		position: absolute;
		top: 0;
	}

	/* content */
	.content-heading {		
		margin-top: -10px;
		margin-bottom: 25px;
		padding: 0;		

		h1 	{ font-size: 21pt; }
		p 	{ font-size: 12pt; }
	}
	
	.content-module {
		margin-bottom: -10px;

		.vcenter { display: block; }

		.content-image {
			float: left;
		    height: 125px;    
		    width: 125px;	    
		}

		.content-description {
			margin-top: 5px;
			margin-left: 25%;

			h1 {
				margin-top: 0;
				font-size: 14pt;
			}		
		}
	}

	/* necessary for footer alignment */
	html, body {
		height: 100%;
		position: relative;
	}

	/* footer */  
	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}